<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <title>{% block page_title %}{% endblock %} | {% block title %}Shop{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock %}

    {% block javascripts_head %}{% endblock %}
</head>

<body>
    {% block header %}
        <header></header>
    {% endblock %}

    {% block body %}
        <div>
            <h1>
                {{ self.page_title() }}
            </h1>
            <section>
                {% block page_content %}{% endblock %}
            </section>
        </div>
    {% endblock %}

    {% block footer %}
        <footer></footer>
    {% endblock %}

    {% block javascripts %}{% endblock %}

    {% block javascripts_inline %}{% endblock %}
</body>
</html>
